<div class="container">
	<br><br>
	
	<div class="about title"><%= "Overview" %></div>
	<div class="about body"><%= "Camping trip the weekend of August 26-28 2016, which will require you to bring one friend that we (Stanley & Erin) do not know." %></div>

	<div class="about title"><%= "Planning" %></div>
	<div class="about body"><%= "Details will be released incrementally via email once you've committed to attending." %></div>
	
	<div class="about title"><%= "What is Four Degrees (Camping)?" %></div>
	<div class="about body"><%= "Similar to " %> <%= link_to "6 degrees of Kevin Bacon", 'https://oracleofbacon.org/', target: '_blank' %><%= ", everybody that attends the camping trip will be no more than 4 degrees away from all of the new people they'll meet, creating a fun conversation starter." %></div>
	
	<div class="about title"><%= "Other Details" %></div>
	<div class="about body">
		<%= "- Car Camping at private site" %><br>
		<%= "- Between 50-100 People" %><br>
		<%= "..." %><br>
	</div>
	<br><br><br>
	<div class="about-image-container">
		<img src="https://farm1.staticflickr.com/746/23663687716_c27f7dae9c_n.jpg" width="320" height="240" alt="Untitled" class="about image"><img src="https://farm6.staticflickr.com/5651/21777108966_942958b546_n.jpg" width="320" height="240" alt="yosemite hike" class="about image"><img src="https://farm6.staticflickr.com/5784/21777144376_edb49b160e.jpg" width="320" height="240" alt="Photo May 27, 9 55 51 AM" class="about image"><img src="https://farm1.staticflickr.com/734/21180567564_db76a5e31f_n.jpg" width="320" height="240" alt="Photo May 27, 9 44 03 AM" class="about image"><img src="https://farm6.staticflickr.com/5746/21179833574_0f4c917fb0.jpg" width="666" height="444" alt="IMG_9665" class="about image"><img src="https://farm1.staticflickr.com/607/21180039734_e12a8a4dae.jpg" width="666" height="444" alt="IMG_6066" class="about image"><img src="https://farm1.staticflickr.com/695/21776625886_5b75ae6350.jpg" width="666" height="444" alt="IMG_5153" class="about image"><img src="https://farm1.staticflickr.com/261/20028591819_fe0f56f53e.jpg" width="500" height="500" alt="Untitled" class="about image"><img src="https://farm9.staticflickr.com/8592/15716395964_1c6c4fd2ec.jpg" width="375" height="500" alt="Untitled" class="about image"><img src="https://farm8.staticflickr.com/7426/16213741777_d2c4a6860c.jpg" width="397" height="500" alt="Untitled" class="about image"><img src="https://farm6.staticflickr.com/5826/21791007902_69cf0d2538.jpg" width="333" height="500" alt="IMG_1516" class="about image"><img src="https://farm1.staticflickr.com/739/21785696786_85838999e8.jpg" width="333" height="500" alt="IMG_3114" class="about image"><img src="https://farm4.staticflickr.com/3940/15698446952_da9a7e0837.jpg" width="498" height="500" alt="Screen Shot 2014-11-02 at 6.15.26 PM" class="about image">
	</div>

</div>