<!DOCTYPE html>
<html>
<head>
  <title>FourDegreesCamping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
  </script>
</head>
<body>

<div class="nav">
  <% if current_user %>
  	<%= link_to "Profile", '/profile', id: "profile", class: "btn btn-default btn-xs" %>
  	<%= link_to "About", '/about', id: "about", class: "btn btn-default btn-xs" %>
  	<%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-default btn-xs" %>
  <% else %>
    <%= link_to "Homepage", '/', id: "homepage", class: "btn btn-success btn-xs" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
